@font-face {
	font-family: 'Kontanter-Bold';
	src: url('fonts/Kontanter-Bold.eot');
	src: local('☺'), url('../fonts/Kontanter-Bold.woff') format('woff'), url('../fonts/Kontanter-Bold.ttf') format('truetype'), url('../fonts/Kontanter-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	padding:0;
	margin:0;
	-webkit-font-smoothing: antialiased;
}

html {
	background: #0B0B0B;
	font: menu;
	font-size: calc(1em + 1vw);
}

/* Loader */

#mobile-landscape {
	width: 0;
	height: 0;
	display: none;
}

.ldr-bg {
	background: none repeat scroll 0 0 #0B0B0B;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	transition: 0.3s ease;
}

.lds-ripple {
	z-index: 1001;
	display: inline-block;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 80px;
	height: 80px;
	transition: 0.3s ease;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #FBFBFB;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.page {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: opacity 0.3s ease;
}

/* main page */

.main-page {
	z-index: 904;
	background: url("../src/main-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-page .label {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	mix-blend-mode: difference;
}

.main-page .label .tagline {
	font-size: 0.6em;
	font-weight: 600;
	color: #0B0B0B;
	text-transform: uppercase;
	background: #FBFBFB;
	padding: 0 0.4em;
}

.main-page .label .title {
	font-family: Kontanter-Bold;
	font-size: 2.5em;
	color: #FBFBFB;
	text-transform: uppercase;
	background: transparent;
}

#to-projects {
	position: absolute;
	left: 50%;
	bottom: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
}

#to-projects p {
	font-size: 0.55em;
	text-transform: uppercase;
	font-family: Kontanter-Bold;
	text-align: center;
	color: #FBFBFB;
}

/* projects page */

.projects-page {
	z-index: 903;
	background: url("../src/main-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	opacity: 0;
}

.projects-page .container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	mix-blend-mode: difference;
	color: #FBFBFB;
}

.projects-page .container .projects {
	height: 75vh;
	width: 90vw;
}

.projects-page .container .project {
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	flex-direction: row;
	transition: opacity 0.2s ease;
}

.projects-page .container .project .description {
	background: transparent;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects-page .container .project .description h2 {
	font-family: Kontanter-Bold;
	font-size: 1.25em;
	text-align: center;
}

.projects-page .container .project .description p {
	font-size: 0.75em;
	text-align: center;
	width: 60%;
}

.projects-page .container .project:first-child .description .logo {
	max-height: 3em;
	object-fit: contain;
	margin-bottom: 2vh;
}

.projects-page .container .project:nth-child(2) .description .logo {
	max-height: 5em;
	border-radius: 10px;
	object-fit: contain;
	margin-bottom: 2vh;
}

.projects-page .container .project:nth-child(1) .screenshots {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.projects-page .container .project:nth-child(1) .screenshots img {
	-webkit-filter: invert(1);
	filter: invert(1);
	object-fit: contain;
	height: 45%;
	border-radius: 10px;
	border: 2px #000 solid;
}

.projects-page .container .project:nth-child(1) .screenshots .mobile {
	height: 45%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.projects-page .container .project:nth-child(1) .screenshots .mobile  img {
	-webkit-filter: invert(1);
	filter: invert(1);
	object-fit: contain;
	height: 100%;
	border-radius: 10px;
	border: 2px #000 solid;
}

.projects-page .container .project:nth-child(2) .screenshots {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.projects-page .container .project:nth-child(2) .screenshots img {
	-webkit-filter: invert(1);
	filter: invert(1);
	object-fit: contain;
	height: 0;
	border-radius: 10px;
	border: 2px #000 solid;
}

.projects-page .container .project:nth-child(2) .screenshots .mobile {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.projects-page .container .project:nth-child(2) .screenshots .mobile  img {
	-webkit-filter: invert(1);
	filter: invert(1);
	object-fit: contain;
	height: 90%;
	border-radius: 10px;
	border: 2px #000 solid;
}

.projects-page .container .projects .project:first-child {
	opacity: 1;
	display: flex;
}

.projects-page .container .controls {
	height: 10vh;
	width: 30vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.projects-page .container .controls .controls-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px #FBFBFB solid;
	margin-left: 2vw;
	margin-right: 2vw;
}

/* about us page */

.aboutus-page {
	z-index: 902;
	background: url("../src/aboutus-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	opacity: 0;
}

.aboutus-page .container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: transparent;
	mix-blend-mode: difference;
	color: #FBFBFB;
}

.aboutus-page .container .story {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.aboutus-page .container .story h2 {
	font-size: 1.25em;
	font-family: Kontanter-Bold;
	text-align: center;
}

.aboutus-page .container .story p {
	font-size: 0.8em;
	text-align:center;
}

.aboutus-page .container .team-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutus-page .container .team-container .title {
	height: 2em;
}

.aboutus-page .container .team-container .title h2 {
	font-size: 2em;
	font-family: Kontanter-Bold;
	text-align: center;
}

.aboutus-page .container .team-container .team {
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.aboutus-page .container .team-container .team .teammate {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 40%;
	height: 70%;
}

.aboutus-page .container .team-container .team .teammate .teammate-photo {
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	background-position: top right;
	background: url("../src/teammate2o.jpg");
	-webkit-filter: invert(1);
	filter: invert(1);
	background-size: cover;
}

.aboutus-page .container .team-container .team .teammate:first-child .teammate-photo {
	background-position: center center;
	background: url("../src/teammate1.jpg");
	-webkit-filter: invert(0);
	filter: invert(0);
	background-size: contain;
}

.aboutus-page .container .team-container .team .teammate .teammate-photo .socials {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0;
	background: #FBFBFB;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
}

.aboutus-page .container .team-container .team .teammate .teammate-photo .socials a {
	height: 30%;
	fill: #000;
}

.aboutus-page .container .team-container .team .teammate .teammate-photo .socials a img {
	height: 100%;
}

.aboutus-page .container .team-container .team .teammate h2 {
	font-family: Kontanter-Bold;
	font-size: 1em;
}

.aboutus-page .container .team-container .team .teammate p {
	font-size: 0.7em;
}

/* news page */

.news-page {
	z-index: 901;
	background: url("../src/news-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	opacity: 0;
}

.news-page .title {
	position: fixed;
	left: 50%;
	top: 15vh;
	transform: translateX(-50%) translateY(-50%);
	font-family: Kontanter-Bold;
	font-size: 2em;
	mix-blend-mode: difference;
	color: #FBFBFB;
}

.news-page .container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow-x: auto;
	flex-wrap: nowrap;
	mix-blend-mode: difference;
}

.news-page .container::-webkit-scrollbar {
  display: none;
}

.news-page .container {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

.news-page .container .news {
	flex: 0 0 auto;
	min-width: 100%;
	max-height: 40%;
	overflow-y: hidden;
	display: flex;
	flex-wrap: nowrap;
	vertical-align: center;
}

.news-page .container .news .article {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 30vw;
	overflow-y: scroll;
	border-right: 1px solid #FBFBFB;
	color: #FBFBFB;
}

.news-page .container .news .article:last-child {
	border-right: 0px solid #FBFBFB;
}

.news-page .container .news .article h2 {
	width: 80%;
	font-family: Kontanter-Bold;
	font-size: 1.15em;
	text-align: center;
}

.news-page .container .news .article .article-text {
	height: calc(100% - 1.5em);
	width: 80%;
}

.news-page .container .news .article .article-text p {
	font-size: 0.75em;
	text-align: left;
}

.news-page .timeline {
	position: fixed;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	height: 10vh;
	width: 50vw;
	mix-blend-mode: difference;
}

.news-page .timeline .timeline-line {
	position: fixed;
	left: 50%;
	top: 62.5%;
	width: 90%;
	height: 0px;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid #FBFBFB;
	border-radius: 1px;
}

.news-page .timeline .timeline-points {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 90%;
	height: 100%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.news-page .timeline .timeline-points .point {
	height: 90%;
	width: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.news-page .timeline .timeline-points .point p {
	color: #FBFBFB;
	text-align: center;
	font-size: 0.5em;
	transform: translateY(-100%);
	transition: 0.3 ease;
}

.news-page .timeline .timeline-points .point .pointer {
	height: 50%;
	width: 0px;
	border: 1px solid #FBFBFB;
	transition: 0.3s ease;
	border-radius: 1px;
}

/* menu */

.menu {
	z-index: 900;
	background: #FBFBFB;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.menu .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 75vh;
	width: 75vh;
	background: #0B0B0B;
	border-radius: 50%;
}

.menu .container .pages {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu .container .pages .page-button {
	font-family: Kontanter-Bold;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #FBFBFB;
	cursor: pointer;
	text-align: center;
	margin: 0.5em;
}

/* menu button */

#menu-button {
	z-index: 99998;
	position: fixed;
	top: 3vh;
	left: 3vw;
	height: 80px;
	width: 80px;
	transition: 0.2s ease-in-out;
	background-repeat: no-repeat;
	background-image: url("../src/menu-button.svg");
	background-position: center center;
	background-size: 85% 97%;
}

/* cursor */

#cursor {
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	transition: transform 0.2s ease;
	border: 1.5px solid #FBFBFB;
	background-color: transparent;
	height: 0;
	width: 0;
	height: 32px;
	width: 32px;
	z-index: 99999;
	background: #FBFBFB;
}
#cursor.hover {
	transform: scale(2) translateX(-25%) translateY(-25%);
	border: none;
}

/* noise */
.noise {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	mix-blend-mode: difference;
	opacity: 0.2;
}

#noise-menu {
	border-radius: 50%;
}

@media (max-width:1200px) {

	#mobile-landscape {
		position: fixed;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #FBFBFB;
		background: #0B0B0B;
		font-family: Kontanter-Bold;
		display: none;
		z-index: 999999;
		text-align: center;
	}

	#cursor {
		display: none;
	}

	.menu .container {
		height: 75vw;
		width: 75vw;
		max-width: 75vh;
		max-height: 75vh;
	}

	.aboutus-page .container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu .container .pages .page-button {
		font-size: 2.5em;
	}

	.aboutus-page .container .story {
		width: 75%;
		height: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.aboutus-page .container .story p {
		font-size: 1.15em;
		text-align:center;
	}

	.aboutus-page .container .team-container {
		width: 60%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.aboutus-page .container .team-container .team {
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.aboutus-page .container .team-container .team .teammate {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 45%;
	}

	.aboutus-page .container .team-container .team .teammate p {
		font-size: 0.9em;
	}

	.aboutus-page .container .team-container .team .teammate .teammate-photo {
		height: 15vh;
		width: 15vh;
		border-radius: 50%;
		background-position: top right;
		background-repeat: no-repeat;
		background: url("../src/teammate2o.jpg");
		-webkit-filter: invert(0);
		filter: invert(0);
		background-size: cover;
	}

	.aboutus-page .container .team-container .team .teammate:first-child .teammate-photo {
		background-position: center center;
		background: url("../src/teammate1.jpg");
		-webkit-filter: invert(0);
		filter: invert(0);
		background-size: contain;
	}

	.aboutus-page .container .team-container .team .teammate .teammate-photo .socials {
		opacity: 1;
		background: transparent;
		flex-direction: column;
		transform: translateX(-100%);
	}

	.aboutus-page .container .team-container .team .teammate .teammate-photo .socials a {
		fill: #FBFBFB;
	}

	.projects-page {
		background: #0B0B0B;
	}

	.projects-page .container .projects {
		height: 75vh;
		width: 90vw;
	}

	.projects-page .container .project {
		flex-direction: column;
		align-items: center;
	}

	.projects-page .container .project .description {
		width: 80%;
		height: 40%;
	}

	.projects-page .container .project .description p {
		font-size: 1.15em;
	}

	.projects-page .container .project:nth-child(1) .screenshots {
		width: 80%;
		height: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.projects-page .container .project:nth-child(1) .screenshots img {
		-webkit-filter: invert(0);
		filter: invert(0);
		object-fit: contain;
		height: 45%;
		border-radius: 10px;
		border: 2px #FBFBFB solid;
	}

	.projects-page .container .project:nth-child(1) .screenshots .mobile {
		height: 45%;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.projects-page .container .project:nth-child(1) .screenshots .mobile  img {
		-webkit-filter: invert(0);
		filter: invert(0);
		object-fit: contain;
		height: 100%;
		border-radius: 10px;
		border: 2px #FBFBFB solid;
	}

	.projects-page .container .project:nth-child(2) .screenshots {
		height: 60%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.projects-page .container .project:nth-child(2) .screenshots img {
		-webkit-filter: invert(0);
		filter: invert(0);
		object-fit: contain;
		height: 0;
		border-radius: 10px;
		border: 2px #FBFBFB solid;
	}

	.projects-page .container .project:nth-child(2) .screenshots .mobile {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.projects-page .container .project:nth-child(2) .screenshots .mobile  img {
		-webkit-filter: invert(0);
		filter: invert(0);
		height: 100%;
		border: 2px #FBFBFB solid;
		margin-left: 3vw;
		margin-right: 3vw;
	}

	.news-page {
		background: #0B0B0B;
	}

	.news-page .title {
		top: 10vh;
		font-size: 2em;
	}

	.news-page .container {
		position: fixed;
		top: 15vh;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		overflow-x: hidden;
		overflow-y: auto;
		flex-wrap: nowrap;
	}

	.news-page .container .news {
		width: 60%;
		min-height: 75%;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.news-page .container .news .article {
		float: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-height: 20vh;
		width: 60vw;
		overflow-y: scroll;
		border-right: 0px solid #FBFBFB;
		margin-bottom: 3vh;
	}

	.news-page .container .news .article h2 {
		width: 80%;
		font-family: Kontanter-Bold;
		font-size: 2em;
		text-align: center;
	}

	.news-page .container .news .article .article-text {
		height: calc(100% - 2em);
		width: 80%;
	}

	.news-page .container .news .article .article-text p {
		font-size: 1.15em;
		text-align: left;
	}

	.news-page .timeline {
		display: none;
	}
}
